.card {
    box-shadow: 0 4px 8px 0 rgba(0.2,0.2,0.2,0.4);
    transition: 0.3s;
    width: 90%;
    height: 480px;
    text-align: center;
    float: left;
    margin: 1.5%;
    justify-self: center;
    background-color: white;
}


.card :hover {
    box-shadow: 0 8px 16px 0 rgba(0.8,0.5,0.5,0.8);
}
img{
    width: 60%;
    height: 40%;
}

main{
    height: 2700px;
    background-color: #DCDCDC;
    padding-top: 20px;
}

.hide {
    visibility: hidden;
}

#hader{
    width: 40%;
    margin: auto;
    margin-bottom: 2%;
}
header{
    text-align: center;
    margin-bottom: 5%;
}


.header-cont{
    margin-left: 2%;
    justify-self: center;
}
button{
    color: gray;
}


#allFirItems,#senContent {
    width: 100%;
    display: grid;
    grid-template-columns:  auto auto auto auto;
    align-content: center;
    grid-row-gap:15px;
}

#header-content{
    display: grid;
    grid-template-columns:  auto auto auto auto;
}

@media only screen   
and (min-device-width : 641px)   
and (max-device-width : 1024px) { 
#allFirItems,#senContent {
    width: 100%;
    display: grid;
    grid-template-columns:  auto auto;
    align-content: center;
    grid-row-gap:15px;
}

#header-content{
    display: grid;
    grid-template-columns:  auto auto;
}
main{
    background-color: #FFDEAD;
}

}  

@media only screen      
and (max-device-width : 640px)  
{
    #allFirItems,#senContent {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-row-gap:15px;
    }
    #header-content{
        display: grid;
        grid-template-columns:  auto;
    }
    .card {
        box-shadow: 0 4px 8px 0 rgba(0.2,0.2,0.2,0.4);
        transition: 0.3s;
        width: 80%;
        height: 480px;
        text-align: center;
        float: left;
        margin: 1.5%;
        justify-self: center;
    }
    main{
        background-color: #F0F8FF;
    }
} 